<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ayush_l15fue5.inventoryapp_2">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ayush_l15fue5.inventoryapp_2.item_editor"
            android:parentActivityName="com.example.ayush_l15fue5.inventoryapp_2.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ayush_l15fue5.inventoryapp_2.MainActivity" />
        </activity>

        <provider
            android:name="com.example.ayush_l15fue5.inventoryapp_2.Database.InvProvider"
            android:authorities="com.example.android.inventoryappstage2"
            android:grantUriPermissions="false" />

    </application>

</manifest>